<!-- Dependency resources -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- Added Web Component dependencies to make Vaadin Designer preview work -->
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/vaadin-lumo-styles/badge.html">
<!-- TODO Needed to show icons in Vaadin Designer preview mode for now, but can be removed soon -->
<link rel="import" href="../../../bower_components/vaadin-lumo-styles/icons.html">

<dom-module id="editpatient-element">
    <template>
        <div class="view-container">
            <h2 id="header"></h2>
            <vaadin-text-field label="Vorname" value="{{patient.firstName::input}}"></vaadin-text-field>
            <vaadin-text-field label="Nachname" value="{{patient.lastName::input}}"></vaadin-text-field><br/>
            <vaadin-text-field label="Strasse" value="{{patient.address.street::input}}"></vaadin-text-field>
            <vaadin-text-field label="PLZ" value="{{patient.address.plz::input}}"></vaadin-text-field>
            <vaadin-text-field label="Stadt" value="{{patient.address.city::input}}"></vaadin-text-field>
            <br/><vaadin-button on-click="save">Speichern</vaadin-button>
            <vaadin-button on-click="cancel">Abbrechen</vaadin-button>
        </div>
    </template>

    <script>
        class EditPersonElement extends Polymer.Element {
            static get is() {
                return 'editpatient-element'
            }

            _isEmpty(array) {
                return array.length == 0;
            }
        }

        customElements.define(EditPersonElement.is, EditPersonElement);
    </script>
</dom-module>
